
.sidebar-item-container {
  // padding: 10px 25px;

  .desk-sidebar-item {
    padding: 10px 25px;
  
    // a {
    //   padding: 10px 25px;
    // }
  }
}

.layout-side-section {
  // background-color: #73f5fa;
  padding: 10px;
}



.sticky-top {
  background-color: #fab677;
}

.navbar-brand {
  img {
    max-width: 100px;
    max-height: 40px;
  }
}
.my-account-container {
  border: 1px solid rgba(255, 255, 255, 0.651);
  border-radius: var(--border-radius-md);
  width: 80%;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.322), rgba(106, 182, 253, 0.308));
}