.ce-block {
  .ce-block__content {
    // .widget {
      .shortcut-widget-box {
        padding: 10px 25px;
        margin: 15px;
        border: 1px solid #d1d1d1;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    // }
    .spacer {
      margin: 15px;
    }
  } 
}